*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


.header-container{
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    /* border: 1px solid red; */
    padding: 20px 0px;  
    display: flex;
    justify-content: center;
}

.header{
    width: 1100px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    /* border: 1px solid white; */
}

.logo{
    font-size: x-large;
    font-family: monospace;
    font-weight: 900;
}

.hero-text button{
    color: rgb(219, 219, 226);
    background-color: #3882f6;
    padding: 10px 24px;
    border-radius: 8px;
}

/* .hero-text{
    display: flex;
    justify-content: space-between;
}  */

.hero-container{
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.hero{
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.hero-paragraph img{
    width: 600px;
    height: 300px;
    background-color: hsl(220, 1%, 61%);
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.rand-sec{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.boxes{
    display: flex;
    background-color: rgb(252, 252, 252);
    height: 450px;
    width: 1100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.box{
    /* border: 2px solid #bdbfc4; */
    /* background-color: rgb(243, 241, 239); */
    height: 300px;
    width: 200px;
    margin: 20px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boxi{
    display: flex;
    gap: 20px;
}

.box-inside{
  border: 2px solid #2f6aff;
    background-color: rgb(243, 241, 239);
    height: 250px;
    width: 200px;
    /* margin: 20px 0px; */
    border-radius: 8px;  
}

.box p{
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.testimonia-section{
    background-color:  #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.testimonia{
    height: 250px;
    width: 900px;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.testimonia-par{
    font-weight: 600;
    padding: 20px;
    text-align: center;
}

.test-quote{
    font-size: larger;
    font-weight: 900;
    padding: 20px;
    text-align: right;
}

.cta{
    background-color: white;
    padding: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-cta{
    background-color: #3882f6;
    height: 150px;
    width: 900px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    gap: 60px;
}

.cta-text{
    width: 600px;
    color: #e5e7eb;
}

.cta-signup{
    border: 1px solid #ffffff;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.btn{
    background-color: #3882f6;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    padding: 8px 24px;
    border-radius: 8px;
    border-color: #ffffff;
}

.footer{
     background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    color: #ffffff;
}
