*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


.header-container{
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    /* border: 1px solid red; */
    padding: 20px 0px;  
    display: flex;
    justify-content: center;
}

.header{
    width: 1100px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    /* border: 1px solid white; */
}

.logo{
    display: flex;
    justify-content: flex-start;
}


.hero-container{
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.hero{
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
