*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


.header-container{
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    /* border: 1px solid red; */
    padding: 20px 0px;  
    display: flex;
    justify-content: center;
}

.header{
    width: 1100px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    /* border: 1px solid white; */
}

.logo{
    font-size: x-large;
    font-family: monospace;
    font-weight: 900;
}

.hero-text button{
    color: rgb(219, 219, 226);
    background-color: #3882f6;
    padding: 10px 24px;
    border-radius: 8px;
}

/* .hero-text{
    display: flex;
    justify-content: space-between;
}  */

.hero-container{
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.hero{
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.hero-paragraph img{
    width: 600px;
    height: 300px;
    background-color: hsl(220, 1%, 61%);
    display: flex;
    justify-content: center;
}
